.single-post {
  width: 90%;
  margin: auto;
  text-align: center;
  color: #3b0062;
}

.unit {
  border:1px solid  #3b0062 ;
  padding: 0.5rem;
  margin: 1rem 0;
}


.single-post__image {
  height: 20rem;
  width: 20rem;
  margin: 1rem auto;
}

@media (min-width: 768px) {
  .single-post {
    width: 60rem;
  }
}
